<div class="row text-center">
  <div id="location-alert" data-alert class="alert-box alert" style="display: none">
    Couldn't get your location!
    <a href="#" class="close">&times;</a>
  </div>

  <h1>Clean Eats</h1>
  <p>Make it easier to eat out with dietary restrictions</p>
</div>

<div class="row text-center">
  <div id="get-location-button" class="button">Get Location</div>
</div>