// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {
  i.fi-magnifying-glass {
    float: right;
    margin-right: .7em;
    margin-top: -2.3em;
  }

  a{
    &:visited {
      color: #ffffff;
    }
  }
}