.search {
  i.icon-search {
    float: right;
    margin-right: .7em;
    margin-top: -2.3em;
  }

  a{
    &:visited {
      color: #ffffff;
    }
  }
}

.row.map {
  max-width: 100em;
  margin-top: 2em;
}